/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('./images/images.jpg'); /* Path to your image */
  background-size: cover;
  background-position: center;
}

.Navbar {
  background: rgba(255, 255, 255, 0.8); /* Adjust as needed */
  color: white;
  padding: 5px 10px;
  text-align: center;
  width: 100%;
}

.main-content {
  flex: 1; /* Takes up remaining vertical space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent white overlay */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 600px;
}

.Footer {
  background: rgba(255, 255, 255, 0.8); /* Adjust as needed */
  color: white;
  text-align: center;
  padding: 10px 20px;
  width: 100%;
}
button {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 5px 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049; /* Darker green */
}